{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Currency collection tracker for my son.">
        <link rel="author" content="Jamie Hulsey">

        <!-- Title -->
        <title>{% block title %}Currency Collection Tracker{% endblock title %}</title>

        <!--CSS-->
        <link href="{% static 'sbadmin2/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
         rel="stylesheet">
        <link href="{% static 'sbadmin2/css/sb-admin-2.min.css' %}" rel="stylesheet">

        <!--Datatables-->
        <link href="{% static 'sbadmin2/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
        {% block extrahead %}
        {%endblock extrahead %}
    </head>
    <body {% block body-attrs %}{% endblock body-attrs %} id="page-top">
        {% block body %}
        {% endblock body %}
        <!-- Bootstrap core JavaScript-->
        <script src="{% static 'sbadmin2/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'sbadmin2/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{% static 'sbadmin2/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

        <!-- Custom scripts for all pages-->
        <script src="{% static 'sbadmin2/js/sb-admin-2.min.js' %}"></script>
        
        <!-- Datatables -->
        <script src="{% static 'sbadmin2/vendor/datatables/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'sbadmin2/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                //Mark the correct path as active.
                let url = window.location.pathname;

                $('li.nav-item a[href="'+ url +'"]').parent().addClass('active');
            });
        </script>
        {% block extrajs %}
        {% endblock extrajs %}
    </body>
</html>