{% extends "nav.html" %}
{% block extrahead %}
<style type="text/css">
    .am-map {
        width: 825px;
        height: 600px;
    }
</style>
{% endblock extrahead %}
{% block pageheader %}
    <h1 class="h3 mb-4 text-gray-800">Home</h1>
{% endblock pageheader %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card am-map">
            <div class="card-header">
                <h3>Coin Collection</h3>
            </div>
            <div id="coin-map" class="am-map"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Missing Countries</h3>
            </div>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ISO-2 Code</th>
                        <th>Country Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for line in missing_countries %}
                    <tr>
                        <td>{{ line.0 }}</td>
                        <td>{{ line.1 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}
{% block extrajs %}
<script src="https://www.amcharts.com/lib/3/ammap.js" type="text/javascript"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/worldHigh.js" type="text/javascript"></script>
<script src="https://www.amcharts.com/lib/3/themes/dark.js" type="text/javascript"></script>
<script type="text/javascript">
const coinCountryJson = "{{ countries | escapejs }}";
const coinCountryCodes = (JSON.parse(coinCountryJson));

let coinCountryList = [];

$.each(coinCountryCodes, function(key, value) {
    let country = {};
    country["id"] = value;
    country["showAsSelected"] = true;
    coinCountryList.push(country);
});

let coinMap = AmCharts.makeChart("coin-map", 
    {
        type: "map",
        theme: "dark",
        projection: "mercator",
        panEventsEnabled : true,
        backgroundColor : "#535364",
        backgroundAlpha : 1,
        zoomControl: {
        zoomControlEnabled : true
    },
    dataProvider : {
        map : "worldHigh",
        getAreasFromMap : true,
        areas : coinCountryList
    },
    areasSettings : {
        autoZoom : true,
        color : "#B4B4B7",
        colorSolid : "#84ADE9",
        selectedColor : "#84ADE9",
        outlineColor : "#666666",
        rollOverColor : "#9EC2F7",
        rollOverOutlineColor : "#000000"
    }
});

$(document).ready(function() {
    $('#dataTable').DataTable();
});
</script>
{% endblock extrajs %}
